{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <h1>Détail de commande</h1>
    <div class="mui-panel">
        <div class="mui-row">
            <div class="mui-col-md-5 mui-col-sm-5">Marketplace: <strong>{{ order.marketplace }}</strong></div>
            <div class="mui-col-md-5 mui-col-sm-5">N° de commande: {{ order.order_id }}</div>
            <a class="mui-col-md-2 mui-col-sm-2 btn-detail mui-btn mui-btn--small mui-btn--primary mui-btn--raised" href="{% url 'order_update' order.id %}">Modifier</a>
        </div>
        <div class="mui-row">
            <div class="mui-col-md-3 mui-col-sm-3">Date: {{ order.order_purchase_date }}</div>
            <div class="mui-col-md-3 mui-col-sm-3">Heure: {{ order.order_purchase_heure }}</div>
            <div class="mui-col-md-3 mui-col-sm-3">Montant: <strong>{{ order.order_amount }}</strong></div>
        </div>
    </div>

{% endblock main %}