{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Lengow Orders App{% endblock %}</title>
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.2.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
    <header class="mui-appbar mui--z1">
        <div class="mui-container">
            <table width="100%">
                <tr class="mui--appbar-height">
                    <td class="mui--text-title"><a href="{% url 'index' %}" class="title-link">Lengow Orders App</a></td>
                    <td align="right">
                        <ul class="mui-list--inline mui--text-body2">
                            <li><a href="{% url 'index' %}">Lister/Ajouter Commandes</a></li>
                            <li><a href="{% url 'search' %}">Chercher</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div class="mui-container">
        {% block main %}
        {% endblock main %}
    </div>
    <a class="mui-btn mui-btn--fab mui-btn--primary btn-add-order" title="Ajouter une commande" href="{% url 'order_add' %}">+</a>
{% endblock body %}
<footer>
    <div class="mui-container mui--text-center mui--text-bottom">
        Developed by <a href="http://oussamakrifa.com">Oussama Krifa</a>
    </div>
</footer>
<script src="//cdn.muicss.com/mui-0.2.1/js/mui.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>